@import "tailwindcss";

/* ===== Custom Batman Fonts ===== */

@font-face {
  font-family: "BatmanFontA";
  src: url("/fonts/batmfa__.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "BatmanFontO";
  src: url("/fonts/batmfo__.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

/* Set default global font */
body {
  font-family: "BatmanFontA", sans-serif;
}
